# Aula 1 - Análise de Dados

In [2]:
import pandas as pd

In [3]:
# df = dataframe
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [35]:
df.read()

AttributeError: 'DataFrame' object has no attribute 'read'

In [4]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [5]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [7]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [40]:
df.shape()

TypeError: 'tuple' object is not callable

In [8]:
df.shape

(133349, 11)

In [10]:
linhas, colunas = df.shape[0], df.shape[1]

In [11]:
print("linhas: ", linhas)
print("colunas: ", colunas)

linhas:  133349
colunas:  11

In [12]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [13]:
# Dicionário de renomeação
novos_nomes = {
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa',
    'company_size': 'tamanho_empresa'
}

# Aplicando renomeação
df.rename(columns=novos_nomes, inplace=True)
df.columns

# Verificando resultado
#df.head()

Index(['ano', 'senioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [14]:
df["senioridade"].value_counts()
# BASE DO KAGGLE
# SE - SÊNIOR
# MI - MID (INTERMEDIÁRIO/PLENO)
# EN - ENTRY (INICIANTE/JUNIOR)
# EX - EXECUTIVO

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [15]:
df["contrato"].value_counts()
# FT - FULL-TIME (INTEGRAL)
# CT - CONTRACT TEMPORARY (CONTRATO TEMPORÁRIO)
# PT - PART-TIME (MEIO-PERIODO)
# FL - FREELANCER

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [16]:
df["remoto"].value_counts()
# 0 - presenciais
# 100 - remoto
# 50 - híbrido

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [17]:
df["tamanho_empresa"].value_counts()
# M - midium (médio)
# L - large (grande)
# S - small (pequeno)

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [18]:
senioridade = {
    'SE': 'senior',
    'MI': 'pleno',
    'EN': 'junior',
    'EX': 'executivo'
}
df['senioridade'] = df['senioridade'].replace(senioridade)
df['senioridade'].value_counts()

senioridade
senior       77241
pleno        40465
junior       12443
executivo     3200
Name: count, dtype: int64

In [19]:
contrato = {
    'FT': 'integral',
    'PT': 'parcial',
    'CT': 'contrato',
    'FL': 'freelancer'
}
df['contrato'] = df['contrato'].replace(contrato)
df['contrato'].value_counts()

contrato
integral      132563
contrato         394
parcial          376
freelancer        16
Name: count, dtype: int64

In [20]:
tamanho_empresa = {
    'L': 'grande',
    'S': 'pequena',
    'M':	'media'

}
df['tamanho_empresa'] = df['tamanho_empresa'].replace(tamanho_empresa)
df['tamanho_empresa'].value_counts()

tamanho_empresa
media      129561
grande       3574
pequena       214
Name: count, dtype: int64

In [21]:
mapa_trabalho = {
    0: 'presencial',
    100: 'remoto',
    50: 'hibrido'
}

df['remoto'] = df['remoto'].replace(mapa_trabalho)
df['remoto'].value_counts()

remoto
presencial    105312
remoto         27718
hibrido          319
Name: count, dtype: int64

In [22]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,senior,integral,Solutions Engineer,214000,USD,214000,US,remoto,US,media
1,2025.0,senior,integral,Solutions Engineer,136000,USD,136000,US,remoto,US,media
2,2025.0,pleno,integral,Data Engineer,158800,USD,158800,AU,presencial,AU,media
3,2025.0,pleno,integral,Data Engineer,139200,USD,139200,AU,presencial,AU,media
4,2025.0,junior,integral,Data Engineer,90000,USD,90000,US,presencial,US,media

In [23]:
df.describe(include="object")

,senioridade,contrato,cargo,moeda,residencia,remoto,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,senior,integral,Data Scientist,USD,US,presencial,US,media
freq,77241,132563,17314,126140,119579,105312,119641,129561

In [24]:
df.describe()

                 ano       salario            usd
count  133339.000000  1.333490e+05  133349.000000
mean     2024.358770  1.632833e+05  157617.272098
std         0.680627  2.173860e+05   74288.363097
min      2020.000000  1.400000e+04   15000.000000
25%      2024.000000  1.060200e+05  106000.000000
50%      2024.000000  1.470000e+05  146206.000000
75%      2025.000000  1.990000e+05  198000.000000
max      2025.000000  3.040000e+07  800000.000000

In [58]:
# Próxima Etapa -> Tratamento de Dados
# Palavra chave: PANDAS

In [ ]:
# Com isso já conseguimos responder algumas perguntas, como:

# Qual o nível de experiência mais comum na base de dados?
# Qual é o tipo de contrato mais frequente?
# Qual o cargo mais frequente na amostra?
# De qual país são a maioria dos profissionais da base?
# Qual é o país onde mais empresas da amostra estão sediadas?
# Qual o regime de trabalho mais comum?
# Qual é o tamanho mais comum das empresas na amostra?
# O código é um passo a passo para entender, limpar e preparar a base de dados para análises mais profundas, facilitando a visualização de padrões e tendências no mercado de trabalho em ciência de dados.

# Aula 2 - Preparação e Limpeza dos Dados

In [30]:
df.isnull() # verifica se há campos vazios ou não na tabela. mostra os 5 primeiros e os 5 ultimos

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [29]:
df.head() # mostra os 5 primeiras linhas

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,senior,integral,Solutions Engineer,214000,USD,214000,US,remoto,US,media
1,2025.0,senior,integral,Solutions Engineer,136000,USD,136000,US,remoto,US,media
2,2025.0,pleno,integral,Data Engineer,158800,USD,158800,AU,presencial,AU,media
3,2025.0,pleno,integral,Data Engineer,139200,USD,139200,AU,presencial,AU,media
4,2025.0,junior,integral,Data Engineer,90000,USD,90000,US,presencial,US,media

In [28]:
df.isnull().sum()
# Somou tudo que era nulo e identificou quantas colunas não estavam com 'ano' preenchido

ano                10
senioridade         0
contrato            0
cargo               0
salario             0
moeda               0
usd                 0
residencia          0
remoto              0
empresa             0
tamanho_empresa     0
dtype: int64

In [33]:
# verificar os anos preenchjido
df['ano'].unique() # traz valores únicos dentro da base de dados

# nan - valor nulo (not a number)

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [35]:
# exibir linhas com valores nulos
df[df.isnull().any(axis=1)] # criando filtro para colunas com valor nulo

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
5588,NaN,senior,integral,Product Manager,184500,USD,184500,US,presencial,US,media
59692,NaN,pleno,integral,Engineer,110000,USD,110000,DE,presencial,DE,media
59710,NaN,junior,integral,Data Scientist,208800,USD,208800,US,presencial,US,media
59759,NaN,senior,integral,Software Engineer,135000,USD,135000,US,presencial,US,media
59789,NaN,senior,integral,Engineer,112000,USD,112000,US,presencial,US,media
131000,NaN,senior,integral,Machine Learning Engineer,163800,USD,163800,US,presencial,US,media
131006,NaN,senior,integral,Data Analytics Manager,204500,USD,204500,US,presencial,US,media
133054,NaN,junior,integral,Data Scientist,40000,USD,40000,JP,remoto,MY,grande
133281,NaN,pleno,integral,Machine Learning Engineer,180000,PLN,46597,PL,remoto,PL,grande
133317,NaN,pleno,integral,Data Scientist,130000,USD,130000,US,hibrido,US,grande

In [48]:
import numpy as np # Biblioteca para manipulaçao numérica

# criando um df - dataframe do zero -> dataframe de teste
df_salarios = pd.DataFrame({
    'nome': ['Ana', 'Bruno', 'Carlos', 'Daniele', 'Val'],
    'salario': [4000, np.nan, 5000, np.nan, 100000]
})

# Calcula média salarial e substitui os nulos pela média e arredonda
df_salarios['salario_media'] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2)) 

''''
fillna -> fill = preencher -> preencher os valores nulos
mean -> média
round -> arredondamento
'''

"'\nfillna -> fill = preencher -> preencher os valores nulos\nmean -> média\nround -> arredondamento\n"

In [50]:
# Exibir tabela
df_salarios

      nome   salario  salario_media
0      Ana    4000.0        4000.00
1    Bruno       NaN       36333.33
2   Carlos    5000.0        5000.00
3  Daniele       NaN       36333.33
4      Val  100000.0      100000.00

In [45]:
# Calculo com Mediana
df_salarios['salario_mediana'] = df_salarios['salario'].fillna(df_salarios['salario'].median()) 
df_salarios

      nome  salario  salario_media  salario_mediana
0      Ana   4000.0         4000.0           4000.0
1    Bruno      NaN         4500.0           4500.0
2   Carlos   5000.0         5000.0           5000.0
3  Daniele      NaN         4500.0           4500.0

In [ ]:
df_temperaturas = pd.DataFrame({
    "Dia": ["Segunda", "Terça", "Qurta", "Quinta", "Sexta"],
    "Temperatura": [30, np.nan, np.nan, 28, 27]
})

df_temperaturas["preenchido_ffill"] = df_temperaturas["Temperatura"].ffill() # ffill -> Foward Fill = completar com o valor anterior

df_temperaturas # Exibir

       Dia  Temperatura  preenchido_ffill
0  Segunda         30.0              30.0
1    Terça          NaN              30.0
2    Qurta          NaN              30.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [54]:
df_temperaturas = pd.DataFrame({
    "Dia": ["Segunda", "Terça", "Qurta", "Quinta", "Sexta"],
    "Temperatura": [30, np.nan, np.nan, 28, 27]
})

df_temperaturas["preenchido_bfill"] = df_temperaturas["Temperatura"].bfill() # bfill -> Back Fill = completar com o valor posterior

df_temperaturas # Exibir

       Dia  Temperatura  preenchido_bfill
0  Segunda         30.0              30.0
1    Terça          NaN              28.0
2    Qurta          NaN              28.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [61]:
# Preencher com valor fixo
df_cidades = pd.DataFrame({
    'nome': ['Ana', 'Bruno', 'Carlos', 'Daniele', 'Val'],
    'cidade': ["São Paulo", np.nan, "Curitiba", np.nan, "Belém"]
})
df_cidades['cidade_preenchida'] = df_cidades["cidade"].fillna("Não Informado")
display(df_cidades)

'''
Métodos usa-se parênteses -> ()
Criando um DataFrame/Base de Dados usa-se chaves -> {}
Coluna específica da base de dados usa-se colchetes -> []
'''

      nome     cidade cidade_preenchida
0      Ana  São Paulo         São Paulo
1    Bruno        NaN     Não Informado
2   Carlos   Curitiba          Curitiba
3  Daniele        NaN     Não Informado
4      Val      Belém             Belém

'\nMétodos usa-se parênteses -> ()\nCriando um DataFrame/Base de Dados usa-se chaves -> {}\nColuna específica da base de dados usa-se colchetes -> []\n'

In [ ]:
# Excluir dados que estão com valores nulo sem reescrever os dados da base original

df_limpo = df.dropna() #Base com dados limpo

In [63]:
df_limpo.isnull().sum()

ano                0
senioridade        0
contrato           0
cargo              0
salario            0
moeda              0
usd                0
residencia         0
remoto             0
empresa            0
tamanho_empresa    0
dtype: int64

In [68]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025,senior,integral,Solutions Engineer,214000,USD,214000,US,remoto,US,media
1,2025,senior,integral,Solutions Engineer,136000,USD,136000,US,remoto,US,media
2,2025,pleno,integral,Data Engineer,158800,USD,158800,AU,presencial,AU,media
3,2025,pleno,integral,Data Engineer,139200,USD,139200,AU,presencial,AU,media
4,2025,junior,integral,Data Engineer,90000,USD,90000,US,presencial,US,media

In [69]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  int64
 1   senioridade      133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   usd              133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  object
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: int64(3), object(8)
memory usage: 12.2+ MB

In [ ]:
'''
Base recebe a própria base com valores reconfigurados pelo assign e a coluna ano recebe, a coluna ano anterior porém com novo tipo
'''
df_limpo = df_limpo.assign(ano = df_limpo["ano"].astype("int64"))

In [70]:
# Senha PRINT